.menuBar{
    background: #1D1D1F;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 999;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 70%;
}

.singleLink{
    display: flex;
    align-items: center;
    height: 100%;
}

.imgLogo {
    height: 53%;
    width: auto;
    cursor: pointer;
}

.inputSearch{
    font-family:'Mabry Pro';
    font-weight: 400;
    font-size: 15px;
    padding: 0 10px;
    height: 28px;
    border-radius: 7px;
    width: 70%;
    background-color: #F5F5F7;
    outline: none;
    border: none;
    color: #1D1D1F;
    margin-right: -24%;
}

.containerImg{
  /*   border: 1px solid red; */
    height: 100%;
    width: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.containerImg img {
    height: 76%;
}
  
.rotateDown {
    animation: rotateAnimation 2s ease infinite;
  }
  
  @keyframes rotateAnimation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }