.backButton{
    border: none;
    height: 100px;
    width: 300px;
    font-family: 'Mabry Pro';
    font-size: 33px;
    border-radius: 17px;
    background-color: #503f03;
    color: #ffe600;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.3s ease;

    position: sticky;
    top: 63px;
    z-index: 2;
}

.backButton:hover{
    transform: scale(0.95)
}

@media (min-width: 768px) and (max-width: 1410px) {
    .backButton{
        height: 60px;
        width: 220px;
        font-size: 27px;
        border-radius: 15px;
        margin-top: 20px;
        top: 63px;
    }
}

@media (max-width: 767px) {
    .backButton {
        height: 60px;
        width: 220px;
        font-size: 27px;
        border-radius: 15px;
        margin-top: 20px;
        top: 36px;
        position: fixed;
        right: 20px;
        left: auto; 
    }
}
