
.postContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 1.5%;
    box-sizing:border-box;
}

.container{
    background-color: #ffe600;
    color: #503f03;
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    text-align: left;
    cursor: pointer;
    box-shadow: 0px 0px 13px 0px rgba(29, 29, 31, 0.1);
    border-radius: 17px;
    transition: all 0.3s ease;
}

.container h1{
    font-size: 80px;
    line-height: 80px;
    text-transform: capitalize;
    margin: 0;
    padding: 3% 5% 5% 4%;

}
.container p{
    padding: 0% 5% 3% 4%;
    margin-top: -1%;
    font-size: 18px;
    line-height: 20px;
}

.infoPosts{
    width: 100%;
    height: 130px;
    background-color: #fde6ac;
    color: #503f03;
    border-radius: 0 0 17px 17px;
    padding: 4% 12% 1% 12%;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    flex-wrap: wrap;

    position: relative;
    top: -20px;
    z-index: -1;
    box-shadow: 0px 0px 13px 0px rgba(29, 29, 31, 0.1);
    
}

.scale{
    transition: all 0.3s ease;
}
.scale:hover{
    transform: scale(0.99)
}


.singlePost{
    transform: none !important;
    cursor: auto;
}

.singlePost p{
    font-size: 20px;
    line-height: 25px;
}

.containerImg{
    display: flex;
    justify-content: start;
    align-items: start;
    max-height: 700px;
    width: 100%;
}

.containerImgPosts{
    display: flex;
    justify-content: start;
    align-items: start;
    max-height: 100%;
    width: 11%;
}

.imgSinglePost{
    height: 100%;
    max-width: 100%;
    padding: 0 4%;
}

.imgSinglePosts{
    filter: blur(4px);
    height: 10%;
    max-width: 100%;
    padding: 0 0 30% 40%;
}

@media (min-width: 768px) and (max-width: 1410px) {
    
    .container{
        margin-top: 20px;
        border-radius: 14px;

    }
    
    .container h1{
        font-size: 60px;
        line-height: 60px;
    }
    .container p{
        font-size: 16px;
        line-height: 18px;
    }
    
    .infoPosts{
        height: 105px;
        border-radius: 0 0 14px 14px;
        top: -16px; 
    }
    
    .singlePost p{
        font-size: 18px;
        line-height: 23px;
        word-wrap: break-word;
    }
    
    .containerImg{
        display: flex;
        justify-content: start;
        align-items: start;
        max-height: 500px;
    }
    
    .containerImgPosts{
        display: flex;
        justify-content: start;
        align-items: start;
    }
    
}


@media (max-width: 767px) {

    .postContainer{
        padding: 50px 1.5%;
    }
    .singleContainer{
        padding: 80px 1.5%;
    }

    .container{
        margin-top: 15px;
        border-radius: 12px;
    }
    
    .container h1{
        font-size: 36px;
        line-height: 36px;
    
    }
    .container p{
        font-size: 14px;
        line-height: 15px;
        word-wrap: break-word;
    }
    
    .infoPosts{
        top: -10px; 
        width: 100%;
        height: 95px;
        font-size: 15px;
        padding: 6% 4% 4% 4%;
        align-items: center;
    }
    
    .singlePost p{
        font-size: 18px;
        line-height: 23px;
    }
    
    .containerImg{
        display: flex;
        justify-content: start;
        align-items: start;
        max-height: 500px;
    }

    .imgSinglePost{
        height: 100%;
        max-width: 90%;
        padding: 0 4%;
    }
}