
.postContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 1.5%;
}

.container{
    background-color: #FFEB3B;
    color: #5C4A0B;
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    text-align: left;
    cursor: pointer;
    box-shadow: 0px 0px 13px 0px rgba(29, 29, 31, 0.1);
    border-radius: 17px;
    transition: all 0.3s ease;
}

.container h1{
    font-size: 100px;
    line-height: 100px;
    text-transform: capitalize;
    margin: 0;
    padding: 3% 4% 4.5% 4%;

}
.container p{
    padding: 0% 4% 2% 4%;
    font-size: 18px;
    line-height: 18px;

    text-align: justify;
}

.infoPosts{
    width: 100%;
    height: 130px;
    background-color: #ffeab3;
    color: #5C4A0B;
    border-radius: 0 0 17px 17px;
    padding: 4% 12% 1% 12%;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    font-weight: 500;

    position: relative;
    top: -20px;
    z-index: -1;
    box-shadow: 0px 0px 13px 0px rgba(29, 29, 31, 0.1);
    
}

.singlePostContainer{
    display: flex;
}

.scale{
    transition: all 0.3s ease;
}
.scale:hover{
    transform: scale(0.99)
}


.backButton{
    border: none;
    height: 100px;
    width: 300px;
    font-family: 'Mabry Pro';
    font-size: 33px;
    border-radius: 17px;
    background-color: #5C4A0B;
    color: #FFEB3B;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.3s ease;
}

.backButton:hover{
    transform: scale(0.95)
}

.singlePost{
    transform: none !important;
    cursor: auto;
}

.containerImg{
    display: flex;
    justify-content: start;
    align-items: start;
    max-height: 700px;
    width: 100%;
}
.imgSinglePost{
    height: 100%;
    max-width: 100%;
    padding: 0 4%;
}